In [65]:
import pandas as pd
import numpy as np

In [66]:
path = 'C:\\Users\\Pete Russell\\Desktop\\I526_AML_FA18\\Final Project'

#nfl_teams=pd.read_csv("./nfl-scores-and-betting-data/nfl_teams.csv",encoding = "utf-8")

nfl_teams = pd.read_csv(path + '\\nfl_teams.csv')

In [5]:
nfl_teams.head()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Phoenix Cardinals,Cardinals,ARI,CRD,NFC,NaN,NFC,NFC East
2,St. Louis Cardinals,Cardinals,ARI,ARI,NFC,NaN,NFC,NFC East
3,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
4,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central

### Find Total Number of teams

In [130]:
unique_teams = nfl_teams['team_name_short'].unique()
print('# of Unique Teams (all eras)',len(unique_teams))
unique_teams

# of Unique Teams (all eras) 33

array(['Cardinals', 'Falcons', 'Ravens', 'Bills', 'Panthers', 'Bears',
       'Bengals', 'Browns', 'Cowboys', 'Broncos', 'Lions', 'Packers',
       'Texans', 'Colts', 'Jaguars', 'Chiefs', 'Chargers', 'Rams',
       'Dolphins', 'Vikings', 'Patriots', 'Saints', 'Giants', 'Jets',
       'Raiders', 'Eagles', 'Steelers', 'Seahawks', '49ers', 'Buccaneers',
       'Oilers', 'Titans', 'Redskins'], dtype=object)

### Find teams who have moved cities
Seven teams have moved (listed below) with the Cardinals moving the most (3 times)

In [32]:
team_counts = nfl_teams['team_name_short'].value_counts()
moved_teams = team_counts[team_counts>1]

print('# of Moved Teams', len(moved_teams))
moved_teams

# of Moved Teams 7

Cardinals    3
Oilers       2
Raiders      2
Colts        2
Rams         2
Chargers     2
Patriots     2
Name: team_name_short, dtype: int64

In [63]:
all_cities = []

for i in moved_teams.index: 
    full_names = nfl_teams[nfl_teams['team_name_short']==i]['team_name'].tolist()
    cities = [x.replace(i,'') for x in full_names]
    all_cities.append(cities)

pd.DataFrame({'Team':moved_teams.index, 
              'Cities':all_cities})

        Team                            Cities
0  Cardinals  [Arizona , Phoenix , St. Louis ]
1     Oilers            [Houston , Tennessee ]
2    Raiders          [Los Angeles , Oakland ]
3      Colts       [Baltimore , Indianapolis ]
4       Rams        [Los Angeles , St. Louis ]
5   Chargers        [Los Angeles , San Diego ]
6   Patriots           [New England , Boston ]

###  Which teams are no longer around?

In [136]:
extinct_teams = nfl_teams.team_name[nfl_teams.team_division.isna()]
extinct_teams

1       Phoenix Cardinals
2     St. Louis Cardinals
15        Baltimore Colts
22         St. Louis Rams
26        Boston Patriots
30    Los Angeles Raiders
37         Houston Oilers
38       Tennessee Oilers
Name: team_name, dtype: object

### What franchises did they become?

In [128]:
current_team_names = nfl_teams.team_name_short[nfl_teams.team_division.isna()].unique()

nfl_teams.team_name[(nfl_teams.team_name_short.isin(current_team_names)) & (nfl_teams.team_division.notna())]

0        Arizona Cardinals
16      Indianapolis Colts
21        Los Angeles Rams
25    New England Patriots
31         Oakland Raiders
Name: team_name, dtype: object

### Which franchises didn't exist pre-2002 and wasn't a team that moved cities?

In [160]:
new_teams = nfl_teams.team_name[nfl_teams.team_division_pre2002.isna()]

for team in new_teams: 
    if team not in extinct_teams.tolist(): 
        print(team)

Houston Texans

From Wikipedia: The club first played in 2002 as an expansion team, making them the youngest franchise currently competing in the NFL. The Texans replaced the city's previous NFL franchise, the Houston Oilers, which moved to Nashville, Tennessee and are now known as the Tennessee Titans.

### Teams per Division
After 2002, the NFL expanded the number of divisions from 6 to 8.

In [83]:
curr_div = nfl_teams.team_division.value_counts()
curr_div

AFC West     5
NFC North    4
AFC North    4
AFC East     4
AFC South    4
NFC East     4
NFC South    4
NFC West     4
Name: team_division, dtype: int64

In [82]:
pre_2002_div = nfl_teams.team_division_pre2002.value_counts()
pre_2002_div

AFC Central    8
AFC West       7
NFC West       7
NFC East       6
AFC East       6
NFC Central    5
Name: team_division_pre2002, dtype: int64

#### Which teams changed divisions that existed in both eras (pre-2002 and now)?

In [106]:
nfl_teams[nfl_teams.team_division != nfl_teams.team_division_pre2002].dropna()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
3,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
4,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central
6,Carolina Panthers,Panthers,CAR,CAR,NFC,NFC South,NFC,NFC West
7,Chicago Bears,Bears,CHI,CHI,NFC,NFC North,NFC,NFC Central
8,Cincinnati Bengals,Bengals,CIN,CIN,AFC,AFC North,AFC,AFC Central
9,Cleveland Browns,Browns,CLE,CLE,AFC,AFC North,AFC,AFC Central
12,Detroit Lions,Lions,DET,DET,NFC,NFC North,NFC,NFC Central
13,Green Bay Packers,Packers,GB,GNB,NFC,NFC North,NFC,NFC Central
16,Indianapolis Colts,Colts,IND,CLT,AFC,AFC South,AFC,AFC East
17,Jacksonville Jaguars,Jaguars,JAX,JAX,AFC,AFC South,AFC,AFC Central
24,Minnesota Vikings,Vikings,MIN,MIN,NFC,NFC North,NFC,NFC Central
27,New Orleans Saints,Saints,NO,NOR,NFC,NFC South,NFC,NFC West
33,Pittsburgh Steelers,Steelers,PIT,PIT,AFC,AFC North,AFC,AFC Central
34,Seattle Seahawks,Seahawks,SEA,SEA,NFC,NFC West,AFC,AFC West
36,Tampa Bay Buccaneers,Buccaneers,TB,TAM,NFC,NFC South,NFC,NFC Central
39,Tennessee Titans,Titans,TEN,OTI,AFC,AFC South,AFC,AFC Central

### Teams per Conference

In [103]:
nfl_teams.team_conference.value_counts()

AFC    21
NFC    20
Name: team_conference, dtype: int64

In [104]:
nfl_teams.team_conference_pre2002.value_counts()

AFC    22
NFC    19
Name: team_conference_pre2002, dtype: int64

#### Which team changed conferences that existed in both eras (pre-2002 and now)?

In [108]:
nfl_teams[nfl_teams.team_conference != nfl_teams.team_conference_pre2002].dropna()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
34,Seattle Seahawks,Seahawks,SEA,SEA,NFC,NFC West,AFC,AFC West